@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

header {
    max-width: 1440px;
}

.cabecalho {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    background-color: #FFE602;
    width: 100%;
    height: 140px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho-logo {
    display: flex;
    align-items: center;
    padding-left: 50px;

}

#loginimagem {
    height: 45px;
    width: 45px;
    margin-top: 5.2px;
}

ul#cadastro li {
    list-style-type: none;

}

ul#cadastro li a {
    text-decoration: none;
    color: #343232;
}

#cadastro {
    background-color: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Goldman';
    font-weight: bold;
}

.criar-conta {
    display: flex;
    align-items: center;
}


ul.drop-submenu li a {
    display: flex;
    font-size: 14px;
    align-items: center;

}

.barralink {
    display: flex;
    justify-items: center;
}

.search-box {
    margin: auto;
    width: 650px;
    top: 50px;
    /*Posição da box de pesquisa em relação a margem superior do header*/
    display: flex;
    flex-direction: row-reverse;
    background: whitesmoke;
    height: 45px;
    border-radius: 40px;
    /* (posição da box original era direita)o texto estava na direita, jogou pra esquerda*/

    /* centralização do item com relação a outros itens*/
}

.search-box:hover {
    height: 45px;
    border: rgb(137, 137, 249) solid 1px;
    background-color: #ecf8a8;
}

.search-txt {
    border: none;
    background: none;
    /*Fica transparente sem nenhuma borda(quadrado com o nome dentro)*/
    outline: none;
    /* Tirar a borda qdo a gente clica*/
    padding: 10px;
    color: rgb(104, 100, 100);
    font-size: 16px;
    line-height: 40px;
    font-family: 'Goldman', cursive;
    position: relative;
    right: 320px;
}

#lupa-1{
    position: relative;
    right: 322px;
    margin: auto;
    width: 35px;
}

.search-btn {
    padding-left: 5px;
    padding-top: 4px;
    float: left ;
}

.barralink {
    margin: auto;
    width: 1440px;
    height: 50px;
    background-color: #BFB802;
    font-family: 'Goldman';
    font-size: 14px;
}

.navbar {
    font-style: 'Goldman';
    font-weight: 700;
    font-size: 14px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 25px;
    padding-left: 140px;

}

.navbar-item7 {
    gap: 2px;
}


.navbar a {
    display: flex;
    align-items: center;
    padding-left: 30px;
    text-decoration: none;
    color: #343232;
}

.navbar a img {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

#hamburguer a {
    text-decoration: none;
    
}

#hamburguer {
    position: relative;

}

#hamburguer span {
    margin-left: 82px;
    color: #343232;
    font-weight: bold;
    position: absolute;
    margin-top: 18px;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

.submenu-hamb {
    right: -170px;
    position: absolute;
    transition: .3s;
    /* efeito feito no position absolute feito no input checkbox transform: translateX*/
    top: 50px;
    z-index: 9;
}

input[type="checkbox"]:checked~.submenu-hamb {
    /* transform: translateX(-170px); TEMOS QUE AJUSTAR ESSE COMANDO PARA FICAR LEGAL */
    opacity: 0;/* LISTA DESAPARECE QUANDO CLICA OUTRA VEZ NO HAMBURGUINHO */
    /* propriedade mexe no eixo X (horizontal), fazendo o submenu-hamb aparecer*/
}

.submenu-hamb a {
    display: block;
    padding: 10px 20px;
    color: rgb(255, 219, 16);
    background-color: rgb(14, 14, 102);
}

.submenu-hamb a:hover {
    background-color: #f1ea13;
    color: rgb(15, 15, 161);
}

#hamburguer label {
    padding: 10px;
    position: absolute;
    margin-left: 40px;    
}

.drop-submenu li {
    list-style-type: none;
}

.dp-menu ul {
    list-style-type: none;
    padding: 0;
}

.dp-menu ul {
    background-color: none;
}

.dp-menu ul li {
    display: inline;
    position: relative;
    font-family: 'Goldman';
    font-weight: bold;
}

.dp-menu ul li a {
    color: #343232;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    transition: background .3s;
}

.dp-menu ul li a:hover {
    background-color: rgb(1, 1, 255);
}

/*sub menu*/
.dp-menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}

.dp-menu ul li:hover ul {
    display: block;
}

.dp-menu ul ul {
    width: 130px
}

.dp-menu ul ul li a {
    display: block;
    background-color: rgb(15, 15, 161);
    color: rgb(255, 219, 16);
    font-weight: 400;
}