@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffe600;
}

main {
  max-width: 1440px;
  margin: auto;
}

section#lojas-ouro {
  margin: 10px 2px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.card {
  margin: 10px;
  max-width: 180px;
  font-family: 'Goldman', cursive;
  background-color: #c2b112;
}

.card:hover {
  background-color: rgb(132, 132, 247);
  border: solid 5px blue;
  border-radius: 10px;
  height: auto;
}

.card img {
  width: 100%;
  height: 90px;
  margin: auto;
}

.container p {
  margin: auto;
  text-align: center;
  font-size: 15px;
  color: #2c2b2b;
}

#localidades-mkp {
  background-color: #B0A9A9;
  color: #343232;
  font-style: italic;
  max-width: 1440px;
  height: 50px;
  margin: auto;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#localidades-mkp .mkp-local {
  padding: 0 2px;
}

.mpk-local:hover {
  color: blue;
}

a {
  text-decoration: none;
}

a:link {
  color: #343232;
}

a:visited {
  color: #343232;
}

/* CSS Responsivo para Tablet e Smartphone pequeno */
/* Tablet */
@media(max-width: 768px) {

  section#lojas-ouro {
    justify-content: center;
  }

  .card {
    margin: 5px 5px;
  }
}

/* SmartPhones Small */
@media(max-width: 320px) {

  section#lojas-ouro {
    justify-content: center;
  }

  .card {
    margin: 5px 5px;
  }

  #localidades-mkp {
    height: auto;
    margin: auto;
    padding: 3px;
    display: block;
    text-align: center;
    font-size: 10px;
  }
}